.about-section {
  padding: 0 6%;
  .about-slogan {
    width: 100%;
    padding: 2rem;
    color: $textGray;
    text-align: center;
  }
  .p-heading {
    padding: 10px 10px 10px 0;
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    font-weight: normal;
  }

  .middle-section {
    width: 100%;
    min-height: 25rem;
    display: flex;
    align-items: center;

    .images-section {
      width: 50%;
      display: flex;
      align-items: center;
      column-gap: 10px;
      flex-direction: row-reverse;
      justify-content: center;
      .about-image-1 {
        position: relative;
        width: 250px;
        height: 350px;
      }
      .about-image-2 {
        position: relative;
        width: 250px;
        height: 300px;
      }
    }
    .text-section {
      width: 50%;
      .about-paragraph {
        color: $textGray;
        line-height: 1.3rem;
      }
    }
  }
  .last-section {
    width: 100%;
    min-height: 25rem;
    display: flex;
    align-items: center;
    .images-section {
      width: 50%;
      display: flex;
      align-items: center;
      column-gap: 10px;
      justify-content: center;
      .about-image-3 {
        position: relative;
        width: 250px;
        height: 300px;
      }
      .about-image-4 {
        position: relative;
        width: 250px;
        height: 350px;
      }
    }
    .text-section {
      width: 50%;
      .paragraph-1 {
        color: $textGray;
        line-height: 1.3rem;
        padding: 1rem 0;
      }
      .paragraph-2 {
        line-height: 1.3rem;
        padding: 1rem 0;
        font-weight: lighter;
        color: #5e5d5d;
      }
      .time-section {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .week {
          color: $primaryColor;
        }
        .time {
          font-size: 0.8rem;
          color: $textGray;
          font-weight: lighter;
        }
      }
    }
  }
}
