.silde-down-enter {
  opacity: 0;
  transform: translateY(-400px);
}
.silde-down-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1.5s ease-in;
}

.slide-right-enter {
  opacity: 0;
  transform: translateX(-400px);
}

.slide-right-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1.5s ease-in;
}

.slide-left-enter {
  opacity: 0;
  transform: translateX(400px);
}

.slide-left-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1.5s ease-in;
}
