* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primaryColor: #f4b350;
$textGray: #777;

@import "./swiper.scss";
@import "./navbar.scss";
@import "./about.scss";
@import "./Special.scss";

.heading {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}
.line {
  width: 3%;
  height: 3px;
  margin: 0 auto;
  background-color: $primaryColor;
}

.footer {
  color: #ada6b3;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}
