* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primaryColor: #f4b350;
$textGray: #777;

@import "./swiper.scss";
@import "./navbar.scss";
@import "./about.scss";

.footer {
  color: #ada6b3;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}
