nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
  background-color: #222222;
  .logo {
    position: relative;
    width: 140px;
    height: 40px;
    margin: 20px 0px;
  }
  .navlist {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    color: #777;
    height: 80px;
    li {
      list-style: none;
      height: 100%;
      display: flex;
      align-items: center;
      a {
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #777;

        &:hover {
          color: $primaryColor;
          border-top: 4px solid $primaryColor;
        }
      }
    }
    .active {
      color: $primaryColor;
      border-top: 4px solid $primaryColor;
    }
  }
}
